[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=oltube
Exec=oltube %U
Name=Oltube
MimeType=x-url-handler/youtube.com;x-url-handler/www.youtube.com;x-url-handler/youtu.be
X-Maemo-Service=com.verdanditeam.oltube
X-Maemo-Object-Path=/
X-Maemo-Method=com.verdanditeam.oltube.openUrl

[X-Sailjail]
Sandboxing=Disabled
